.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.nav-brand {
    margin-left: 3rem;
}

.nav-menu {
    display: none;
    cursor: pointer;
}

.navbar-nav {
    width: 58%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
    justify-content: center;
    list-style: none;
}

.nav-link {
    display: block;
    padding-top: calc(2rem + 3px);
    padding-bottom: calc(2rem - 3px);
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: 3px solid #fff;
}

.link-number {
    font-weight: bold;
    margin-right: 10px;
}

.link-name {
    font-weight: 100;
    text-transform: uppercase;
}

.icon-close {
    position: fixed;
    top: 1.5rem;
    left: calc(50vw - 3.5rem);
    z-index: 100;
}

@media (max-width: 1050px) {
    .navbar {
        padding-top: 0;
    }

    .nav-brand {
        margin-left: 1.5rem;
    }

    .navbar-nav {
        width: 67%;
    }

    .nav-links {
        margin-right: 0;
    }

    .link-number {
        display: none;
    }

    .link-name {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .navbar {
        padding: 1.5rem;
    }

    .nav-brand {
        margin-left: 0;
    }

    .nav-menu {
        display: block;
    }

    .navbar-nav {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50vw;
        height: 100vh;
        padding: 4rem 2rem 2rem;
        background-color: #222;
    }

    .nav-link.active,
    .nav-link:hover {
        border-bottom: 3px solid transparent;
    }

    .nav-link.active .link-name,
    .nav-link:hover .link-name {
        border-bottom: 3px solid #fff;
    }

    .link-name {
        font-size: 1.15rem;
        font-weight: 700;
    }
}
